* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: lorafont;
    src: url(my-fonts/lora/Lora-Regular.ttf);
}
.lorafont {
    font-family: lorafont;
}
@font-face {
    font-family: stripedisco;
    src: url(my-fonts/stripedisco.ttf);
}
.stripedisco {
    font-family: stripedisco;
}
@font-face {
    font-family: odin;
    src: url(my-fonts/odin\ rounded\ -\ bold.otf);
}
.odin {
    font-family: odin;
}
@font-face {
    font-family: greatcamp;
    src: url(my-fonts/greatcamp.ttf);
}
.greatcamp {
    font-family: greatcamp;
}
/* Hover styles for a1, hr, and b1 */
.group:hover #a1,
/* for americano cappuccino mocha divisions*/
.group:hover hr,
.group:hover #b1 {
    color: #C79C41; /* Change the text color on hover */
    border-color: #C79C41; /* Change the border color on hover */
}
/* Hover styles for c1, hr, and d1 */
.group:hover #c1,
.group:hover #d1 {
    color: #C79C41; /* Change the text color on hover */
    border-color: #C79C41; /* Change the border color on hover */
}
/* Hover styles for e1, hr, and f1 */
.group:hover #e1,
.group:hover #f1 {
    color: #C79C41; /* Change the text color on hover */
    border-color: #C79C41; /* Change the border color on hover */
}
/* Define the color for the list-style-type and sequential numbering */
ol.custom-list-color {
    list-style-type: none;
    counter-reset: custom-counter; /* Reset the counter */
    padding-left: 0;
  }
  
  /* Color for the list content and display the sequential number */
  ol.custom-list-color li {
    position: relative;
    padding-left: 20px; /* Adjust the padding as needed */
    color: #000000; /* Change this to your desired color */
  }
  
  /* Define the color for the list-style-type marker and display the sequential number */
  ol.custom-list-color li::before {
    content: counter(custom-counter) "."; /* Use counters to generate numbers */
    counter-increment: custom-counter;
    position: absolute;
    left: 0;
    color: #C79C60; /* Color of the custom counter marker */
    font-weight: bold;
  }
 